/* Estilos gerais */
body {
   
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: hwb(0 100% 0%);
}

header {
    background-color: rgb(60, 9, 247);
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li a {background-color: #ffffff;
   
    color: blue;
    text-decoration: underline:
    font-weight: bold;
    border-width: 4px;
    border-style: solid;
    border-top-color: #DFDFDF;
    border-right-color: #666;
    border-bottom-color: #333;
    border-left-color: #858585;  

    color: "Serviço" white;}

a:link {
    ;

    color: white;
   }

nav ul {

    
    list-style-type: none;
    padding: 0;
    color: white;
}

nav ul li {

    
    display: inline;
    margin-right: 20px;
    color: white;
}

nav ul li a {

    
    color: red;
    color: white;
}

/* Estilos para produtos */
.produtos { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 25px;
}

.produto {
    background-color: hwb(212 13% 10%);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    text-align: center; 
}

.produto img {
    max-width: 100%;
    height: auto;
}

/* Estilos para o carrinho */
.carrinho {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    text-align: center;
}

.itens-carrinho {
    list-style-type: none;
    padding: 0;
}

.itens-carrinho li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Estilos para o botão "Adicionar ao Carrinho" */
.adicionar-ao-carrinho {
    background-color: hsl(202, 86%, 57%);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para o botão "Finalizar Compra" */
.finalizar-compra {
    background-color: hsl(266, 96%, 19%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

/* Estilos para o total do carrinho */
.total-carrinho {
    font-weight: bold;
}
